/* Popup container */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;

}

/* The actual popup (appears on top) */
.popup .popuptext {
    visibility: hidden;
    opacity: 0.9;
    width: 950px;

    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;

    position: absolute;
    left: 20%;
    bottom: 125%;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 0.9;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:0.9;}
}

#ads {
    text-align: center;

    z-index: 99;

    position:absolute;
    top:35%;
    left: 2%;
}


.footer5 {
    font-size: 30px;
    text-align: right;
    padding-top: 5px;
    padding-right: 5px;
}

.footer6 {
    font-size: 35px;
    padding-top: 5px;
    padding-bottom: 7px;
}